<div class="chat-page">
  <span id="create-chat" class="popup-wrapper">
    {{{popupCreateChat}}}
  </span>

  <div class="chat-page__dialogs">
    <div class="chat-page__wrapper">
      <div class="chat-page__search">
        <input class="chat-page__search-input" name="search" type="text" placeholder="Поиск" />
        <img src="{{searchIconUrl}}" alt="Поиск" class="chat-page__search-icon" />
      </div>
      <div class="chat-page__add-chat-wrapper">
        <button id="dashboard-create-chat-btn" class="chat-page__add-btn"></button>
        <div id="dashboard-create-chat" class="chat-page__dashboard-wrapper chat-page__dashboard-wrapper_create-chat">
          <div class="chat-page__dashboard">
            <ul class="chat-page__dashboard-list">
              {{{dashboardCreateChat}}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{{chatList}}}
    {{{widgetBar}}}
  </div>

  {{{messenger}}}
</div>
