<ul class="profile__list profile__list_data">
  <li class="profile__list-item">
    <p class="profile__list-item-title">Почта</p>
    <p class="profile__list-item-info">{{{user.email}}}</p>
  </li>
  <li class="profile__list-item">
    <p class="profile__list-item-title">Логин</p>
    <p class="profile__list-item-info">{{{user.login}}}</p>
  </li>
  <li class="profile__list-item">
    <p class="profile__list-item-title">Имя</p>
    <p class="profile__list-item-info">{{{user.name}}}</p>
  </li>
  <li class="profile__list-item">
    <p class="profile__list-item-title">Фамилия</p>
    <p class="profile__list-item-info">{{{user.lastname}}}</p>
  </li>
  <li class="profile__list-item">
    <p class="profile__list-item-title">Имя в чате</p>
    <p class="profile__list-item-info">{{{user.login}}}</p>
  </li>
  <li class="profile__list-item">
    <p class="profile__list-item-title">Телефон</p>
    <p class="profile__list-item-info">{{{user.phone}}}</p>
  </li>
</ul>
