<div class="profile">
    <span id="upload-file" class="popup-wrapper">
        {{{popupUploadFile}}}
    </span>

    <div class="profile__settings">
        <div class="profile__user-info">
            <div id="upload-file-btn" class="profile__avatar-wrapper">
                <img src="https://ya-praktikum.tech/api/v2/resources{{user.avatar}}" alt="Аватар" class="profile__avatar" />
            </div>
            <div class="profile__user-wrapper">
                <p class="profile__user-name">{{{user.name}}}</p>
                <p class="profile__user-phone">{{{user.phone}}}</p>
                <p class="profile__user-nickname">{{{user.login}}}</p>
            </div>
        </div>

        <div class="profile__settings-list">
            <button id="change-data-btn"
                    class="profile__settings-item {{#if changeDataViewIsForm}}profile__settings-item_selected{{/if}}"
                    type="button">
                Изменить данные
            </button>
            <button id="change-password-btn"
                    class="profile__settings-item {{#if changePasswordView}}profile__settings-item_selected{{/if}}"
                    type="button">
                Изменить пароль
            </button>
            <button id="exit-btn" class="profile__settings-item profile__settings-item_exit" type="button">Выйти</button>
        </div>
        {{{widgetBar}}}
    </div>

    <div class="profile__content">
        {{#if changePasswordView}}
            <div class="profile__form">
                {{{changePasswordForm}}}
            </div>
        {{else}}
            {{#if changeDataViewIsDefault}}
                {{{userInfoTable}}}
            {{else if changeDataViewIsForm}}
                <div class="profile__form">
                    {{{userDataForm}}}
                    {{{simpleButton}}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
