<div class="profile">
    <span id="upload-file" class="popup-wrapper">
        {{{popupUploadFile}}}
    </span>

    <div class="profile__settings">
        <div class="profile__user-info">
            <div id="upload-file-btn" class="profile__avatar-wrapper">
                <img src={{avatarUrl}} alt="Аватар" class="profile__avatar" />
            </div>
            <div class="profile__user-wrapper">
                <p class="profile__user-name">Иван</p>
                <p class="profile__user-phone">+7 (909) 967 30 30</p>
                <p class="profile__user-nickname">ivanIvanov</p>
            </div>
        </div>

        <div class="profile__settings-list">
            <button id="change-data-btn"
                    class="profile__settings-item {{#if changeDataViewIsForm}}profile__settings-item_selected{{/if}}"
                    type="button">
                Изменить данные
            </button>
            <button id="change-password-btn"
                    class="profile__settings-item {{#if changePasswordView}}profile__settings-item_selected{{/if}}"
                    type="button">
                Изменить пароль
            </button>
            <button class="profile__settings-item profile__settings-item_exit" type="button">Выйти</button>
        </div>
        {{{widgetBar}}}
    </div>

    <div class="profile__content">
        {{#if changePasswordView}}
            <form class="profile__form">
                <ul class="profile__list profile__list_change-password">
                    {{#each inputsUserPasswordProfile}}
                        <li class="profile__list-item">
                            {{{this}}}
                        </li>
                    {{/each}}
                </ul>
                <div class="profile__btn-save-wrapper">
                    {{{activeButton}}}
                </div>
            </form>
        {{else}}
            {{#if changeDataViewIsDefault}}
                <ul class="profile__list profile__list_data">
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Почта</p>
                        <p class="profile__list-item-info">pochta@yandex.ru</p>
                    </li>
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Логин</p>
                        <p class="profile__list-item-info">ivanivanov</p>
                    </li>
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Имя</p>
                        <p class="profile__list-item-info">Иван</p>
                    </li>
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Фамилия</p>
                        <p class="profile__list-item-info">Иванов</p>
                    </li>
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Имя в чате</p>
                        <p class="profile__list-item-info">ivanIvanov</p>
                    </li>
                    <li class="profile__list-item">
                        <p class="profile__list-item-title">Телефон</p>
                        <p class="profile__list-item-info">+7 (909) 967 30 30</p>
                    </li>
                </ul>
            {{else if changeDataViewIsForm}}
                <form class="profile__form">
                    <ul class="profile__list profile__list_data">
                        {{#each inputsUserProfile}}
                            <li class="profile__list-item">
                                {{{this}}}
                            </li>
                        {{/each}}
                    </ul>
                    <div class="profile__btn-save-wrapper">
                        {{{activeButton}}}
                    </div>
                </form>
            {{/if}}
        {{/if}}
    </div>
</div>
