<div class="dialog">
  <div class="dialog__avatar-wrapper">
    <img src="{{avatar}}" alt="Аватар" class="dialog__avatar" />
  </div>

  <div class="dialog__message-wrapper">
    <p class="dialog__name">{{name}}</p>
    <p class="dialog__message">{{message}}</p>
  </div>

  <div class="dialog__info-wrapper">
    <p class="dialog__time">{{time}}</p>
    {{#if messageCount}}
      <p class="dialog__message-count">
        {{messageCount}}
      </p>
    {{/if}}
  </div>
  <div class="dialog__border"></div>
</div>