<div class="input-user-profile">
    <label for={{id}}>{{label}}</label>
    <input
        id={{id}}
        name={{name}}
        class="input-user-profile__input"
        value="{{value}}"
        type="{{type}}"
    />
</div>
